// Rubik Google Font
@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap);
// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-family-sans-serif: 'Rubik', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-weight-base: 400;

// Colors
$black: #000000;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white:#ffffff;
$gray-500:#cccccc;
$form-feedback-invalid-color:#e3342f;
$primary:#0084ff;

// switch variables
$switch-unit:                       px;
$switch-width:                      68;
$switch-width-sm:                   60;
$switch-width-xs:                   48;
$switch-width-status:               96;
$switch-width-status-sm:            88;
$switch-width-status-xs:            76;
$switch-height:                     38; // The default Bootstrap btn height in px
$switch-height-sm:                  31; // The default Bootstrap small btn height in px
$switch-height-xs:                  24; // Extra small btn height in px
$switch-font-size:                  12;
$switch-font-size-sm:               11;
$switch-font-size-xs:               10;
$switch-font-family:                $font-family-sans-serif;
$switch-duration:                   150ms;
$switch-required-color:             $red;
$switch-invalid-color:              $form-feedback-invalid-color;

$switch-checked-color:              $white;
$switch-checked-bg:                 $green;
$switch-checked-disabled-opacity:   .4;
$switch-checked-text-io:            "I";
$switch-checked-text-onoff:         "On";
$switch-checked-text-yesno:         "Ya";
$switch-checked-text-status:        "Enabled";

$switch-unchecked-color:            $white;
$switch-unchecked-bg:               $gray-500;
$switch-unchecked-disabled-opacity: .6;
$switch-unchecked-text-io:          "O";
$switch-unchecked-text-onoff:       "Off";
$switch-unchecked-text-yesno:       "Tidak";
$switch-unchecked-text-status:      "Disabled";

$border-radius: 6px;

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-base;
}
