.custom-container {
	height: 45px;    
    background: #EBF4FC;
    border: 0px solid #d7dbda;
    font-size: 14px;
    color: #777D74;
    padding-top: .8rem;
    padding-left: .5rem;
    border-radius: 0.35rem;

    .select2-search--dropdown {
    	.select2-search__field {
    		border:solid 1px #CCC!important;
    		border-radius: .2rem!important;
    	}
    }

    .select2-dropdown--below {		
    	border: solid 1px #CCC;
    	border-radius: .2rem;
    	top: .4rem;
	}    
}